{
    "plugins": ["syntax-dynamic-import"],
    "presets": [
        [
            {
                "env": {
                    "development": {
                        "plugins": [
                            "annotate-console-log"
                        ]
                    }
                }
            }
            
        ]
    ]
}