{
    "presets": [
        "react",
        [
            {
                "plugins": ["syntax-dynamic-import"],
                "env": {
                    "development": {
                        "plugins": [
                            "annotate-console-log"
                        ]
                    }
                }
            }
            
        ]
    ]
}