body {
    background: cornsilk;

    background-image: url("./logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

.pure-button {
    display: flex;
}

.icon {
    /* background-image: url("angular.svg"); */
}

@font-face {
  font-family: Geometria;
  src: url("./Geometria-Bold.woff") format("woff"),
       url("./Geometria-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}